*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(111, 111, 215);
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: rgb(164, 10, 10);
    color: #ffffff;
    text-align: center;
    line-height: 250%;
    padding: 40px;
}
.header-content h1{


    font-size: 2.5rem;
}
.picture-content {
    max-width: 125px;
    max-height: 125px;
    border-radius: 25%;
    object-fit: cover;
    position: absolute;
    top: 20px;
    left: 100px;
}

header h1 {
    font-size: 40px;
    position: relative;

}

h4{

    line-height: 35px;
    color: black;
    font-style:italic;
    letter-spacing: 2px;
    font-size: 18px;
    
}

h2{

    line-height: 35px;
    color: black;
    

}

/* Style the navigation menu */
nav ul {
    background-color: #060601;
    list-style: none;
    text-align: center;
    padding: 10px;
}

nav li {
    display: inline;
    margin: 0 20px;
}


p{

line-height: 35px;
color: black;
font-style:italic;
letter-spacing: 2px;
text-indent: 50px;
font-size: 18px;


}

nav a {
    text-decoration: none;
    color: #e5dbdb;
}

/* Style the sections */
section {
    background-color: #dde7f4;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}


.download-btn {

    background-color: #140d0d;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;

}
.download-btn-hanover{


    background-color: #555;
}





/* Style the portfolio project items */
.project {
    margin: 20px;
}

footer{


background-color: #4dbce7;


}

/* Media query for responsiveness */
@media (max-width: 768px) {
    nav ul {
        text-align: center;
    }
}